body {
    background-color: #99a1b1;
    font-family: 'Alegreya SC', serif;
}

#container {
    background-color: rgb(92, 0, 131);
    width: 900px; 
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

header {
    padding-top: 20px 0;
    background-color: #CEF299;
    border-radius: 20px 20px 0 0;
    font-family: 'Alegreya SC', serif;
} 

header img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    color:rgb(92, 0, 131);
    font-family: 'Alegreya SC', serif;
    text-shadow: 2px 2px 2px grey;
}

nav { 
    background-color: rgb(92, 0, 131);
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #CEF299;
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: rgb(92, 0, 131);
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
}

nav a:hover {
    background-color: rgb(92, 0, 131);
    color: #CEF299;
}

main { 
    background-color: #CEF299;
    padding: 20px;
    margin: 0 20px 20px 20px;

}

main h2 {
    text-align: center;
    color: rgb(92, 0, 131);
    font-size: 2em;
    font-family: 'Alegreya SC', serif;
    
}

main img {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: #655785;
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-color: #CEF299;
    padding: 60px 0;
    color: rgb(92, 0, 131);
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.active {
    background-color: rgb(92, 0, 131);
    color: #CEF299;
}

.pro_head {
    text-align: center;
    color: rgb(92, 0, 131);
    font-size: 1.5em;
    font-family: 'Alegreya SC', serif;
}